<div class="tab-content">
    <div id="home" class="container tab-pane active">
        <div class='table-responsive'>
            <table class='table table-hover'>
                <thead>
                    <tr style="color: #df4759;">
                        <th>SrNo</th>
                        <th>Policy_ID</th>
                        <th>Policies</th>
                        <th>Cover</th>
                        <th>EMI</th>
                        <th>Policy Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>DL01</td>
                        <td>Term Insurance_Jeevan Labh</td>
                        <td>900000</td>
                        <td>10 Month Remaining..</td>
                        <td><label class="badge badge-primary">Current</label></td>
                    </tr>
                    <tr>
                     <td>2</td>
                     <td>DL03</td>
                     <td>Term Insurance_Child</td>
                     <td>700000</td>
                     <td>Due of 2 Month EMI</td>
                     <td><label class="badge badge-danger">Pending</label></td>
                    </tr>
                                  
                    <tr>
                     <td>3</td>
                     <td>DL04</td>
                     <td>Term Insurance_Coronavirus</td>
                     <td>30000</td>
                     <td>No EMI</td>
                     <td><label class="badge badge-success">Completed</label></td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
</div>
